@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.App{
  min-height: 100vh;
  display: grid;
  place-content: center;
  min-width: 100vh;
}


.input input{
  border-radius: 2rem;
  height: 2rem;
  width: 16rem;
}

.pokemon-card{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 10px;
  gap: 5rem;
}

.Pokedex img{
  width: 12rem;
}

.Home{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 200px;
}


.footer{
  position: relative;
  top: 13rem;
}

.footer1{
  background-color: red;
  width: 221vh;
  color: red;
  height: 4rem;
}
.footer2{
  background-color: black;
  width: 221vh;
  height: 4rem;
  display: flex;
  justify-content: center;
}


.Pokedex{
  border: black solid 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.Pokedex{
  position: relative;
  top:10rem;
}


.Select select{
  width: 70rem;
}




.pagination{
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 15rem;
}

.pokename{
  background-color: rebeccapurple;
}

.type{
  background-color: blanchedalmond;
}

.abilities{
  background-color: yellow;
}

.movements{
  background-color: aqua;
}

.card{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
